/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


* {
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(107, 107, 107);
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;

}

::-webkit-scrollbar-thumb {
    width: 1px;

}

::-webkit-scrollbar-track {
    width: 1px;
}

a{
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    display: inline-flex;
    /* align-content: center; */
    align-items: center;
}
a img{
    width: 28px;
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    width: 300px;
    height: 100%;
    /* overflow: hidden; */
    border-right: 1px solid rgb(224, 224, 224);
    background-color: rgb(250, 250, 254);
    /* background-color: rgb(30, 30, 65); */

}

.sidebar-logo {
    position: relative;
    /* flex: 130px; */
    flex-basis: 90px;

    /* flex: content;    */
    /* flex: content; */
    top: 30px;
    /* padding-bottom: 50px; */
    margin-bottom: 30px;
    /* background-color: antiquewhite; */
}

.sidebar-logo img {
    height: 70px;
}

.sidebar .menu {
    flex-basis: 380px;
    display: flex;
    flex-direction: column;
    /* height: fit-content; */
}

.sidebar .menu .menu-item {
    flex-basis: 40px;
    /* flex: content; */
    height: fit-content;
    display: inline-flex;
    align-items: center;
    margin: 0;
    margin-top: 5px;
}

.sidebar .menu .menu-item .icon {
    height: 40px;
    width: 40px;
    margin-left: 50px;
    margin-right: 10px;
}

.sidebar .menu .menu-item .icon img {
    height: 40px;
}

.sidebar .menu .menu-item h3 {
    font-size: 20px;
    height: fit-content;
    margin: 0;
    margin-top: 0px;

}

.sidebar .tweet-btn {
    /* flex-basis: 70px; */
    flex: auto;
    height: 50px;
    width: 200px;
    margin: auto;
    /* flex: auto; */
}

.sidebar .tweet-btn button {
    height: 50px;
    width: 200px;
    background-color: rgb(99, 99, 250);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}

.sidebar .google-icon {
    position: absolute;
    bottom: 5px;
    /* flex-basis: auto; */
    /* flex: auto; */
    display: inline-flex;
    height: fit-content;
    margin: 0 30px;
}

.sidebar .google-icon .logo {
    height: 40px;
    width: 40px;
    flex-basis: 1;

}

.sidebar .google-icon .logo img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: black;
}

.sidebar .google-icon .text {
    flex-basis: 2;
    height: fit-content;
    margin-right: 30px;
    margin-left: 5px;

}

.sidebar .google-icon .text h2 {
    height: fit-content;
    margin: 0;
    margin: auto;
    font-size: 20px;
}

.sidebar .google-icon .text h4 {
    height: fit-content;
    margin-right: 30px;
    margin: 0;
    font-size: 17px;
}

.home_container {
    flex: 2;
    display: inline-flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.home_container .left {
    flex-basis: 60%;
    margin: 0;
    padding: 0;
    border-right: 1px solid rgb(224, 224, 224);
    overflow: hidden;
    position: relative;
}

.home_container .left .header {
    background-color: rgba(250, 250, 254, 0.1);
    display: inline-flex;
    height: 50px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.home_container .left .header h3 {
    flex-basis: 60%;
    margin: 0;
    padding: 0;
    margin: auto;
    height: fit-content;
    margin-left: 30px;

}

.home_container .left .header img {
    height: 25px;
    align-self: center;
    flex-basis: content;
    margin-right: 15px;
}

.home_container .main {
    align-items: center;
    overflow-y: scroll;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
}

.home_container .post {
    border-top: 1px solid rgb(230, 227, 227);
    height: fit-content;
    display: inline-flex;
}

.home_container .profile {
    /* margin-top: 50px; */
    /* background-color: black; */
    margin: 10px 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(117, 110, 102);
}

.home_container .post_inside {
    height: fit-content;
}

.home_container .post_inside div {
    /* height: fit-content; */
    display: inline-flex;
    margin-top: 10px;
    font-size: 13px;
    height: fit-content;
}

.home_container .display_name {
    height: fit-content;
    width: fit-content;
    margin: 0;
    font-weight: bold;
    margin-right: 10px;
    flex-basis: content;
}

.home_container .display_id {
    height: fit-content;
    width: fit-content;
    margin: 0;
    margin-right: 10px;
    flex-basis: content;

}

.home_container .time {
    height: fit-content;
    width: fit-content;
    margin: 0;
    flex-basis: content;
}

.home_container .threedots {
    /* height: fit-content;
    width: 30px;
    align-self: flex-end;
    background-color: aquamarine;
    flex-basis: auto;
    flex-basis: auto; */
    height: 25px;
    align-self: center;
    flex-basis: content;
    margin-right: 10px;
    margin-left: auto;


}

.home_container .post p {
    font-size: 15px;
    color: black;
    height: fit-content;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 97%;
}

.home_container .post .postimg {
    height: fit-content;
    width: 70%;
    border: 1px solid gray;
    border-radius: 20px;
    align-self: center;
}

/* .home_container .post_share::before{
    width: 100%;
} */
.home_container .post_share {
    display: inline-flex;
    margin: 0;
    /* margin-left: 20% ; */
    /* background-color: aqua; */
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.home_container .post_share div {
    display: inline-flex;
    height: fit-content;
    margin-left: 70px;
}

.home_container .post_share img {
    height: 15px;
    margin: 0;
    width: fit-content;
    margin-right: 10px;

}

.home_container .post_share div p {
    font-size: 13px;
    height: fit-content;
    margin: auto;
    margin: 0;
    margin-right: 0;
}

.home_container .right {
    flex-basis: 40%;
    margin: 0;
    padding: 0;
}

.home_container .right .search {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: rgb(250, 250, 254);
    margin: 0;
    padding: 5px 0;


}

.home_container .right .search .searchbar {
    width: 80%;
    height: 40px;
    background-color: rgb(225, 232, 238);
    margin: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;

}

.home_container .right .search .searchbar img {
    flex-basis: 70px;
    height: 25px;
    align-items: center;
}

.home_container .right .search .searchbar h3 {
    height: fit-content;
    flex-basis: content;

}

.home_container .right .container {
    width: 80%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
}

.home_container .trendings {
    height: fit-content;
    flex: 1;
    /* flex-basis: 40%; */
    /* height: 400px; */
    /* flex: content; */
    background-color: rgb(238, 241, 245);
    border-radius: 15px;
    padding: 0 15px;
    width: 90%;
}

.home_container .trendings_heading {
    height: fit-content;
    margin: 5px 0;
    width: fit-content;
    font-weight: bold;
    /* margin-left: 20px; */
}

.home_container .trend {
    height: fit-content;
    margin: 0;
    padding: 5px 0;

}

.home_container .trend_region {
    height: fit-content;
    font-size: larger;
    margin: 5px 0;
    font-size: 13px;
}

.home_container .trend_hashtag {
    height: fit-content;
    margin: 5px 10px;
    font-size: 18px;
    font-weight: bold;
}

.home_container .trend_count {
    height: fit-content;
    margin: 2px 0;
    font-size: 13px;
}

.home_container .seemore_text {
    height: fit-content;
    margin: 5px 0;
    color: blue;
    font-size: 15px;
}

.home_container .follow {
    height: fit-content;
    flex: 2;
    /* flex-basis: 40%; */
    border-radius: 15px;
    padding: 0 15px;
    margin-top: 10px;
    /* width: 100%; */
    width: fit-content;
    background-color: rgb(238, 241, 245);

}

.home_container .follow_heading {
    height: fit-content;
    margin: 15px 0;
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    /* margin-top: 10px; */

    /* margin-left: 20px; */
}

.home_container .follow_item {
    height: fit-content;
    /* background-color: antiquewhite; */
    margin: 5px 0;
    padding: 5px 0;
    display: inline-flex;


}

.home_container .follow_item img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: black;
}

.home_container .follow_item div {
    height: fit-content;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.home_container .follow_item div h3 {
    height: fit-content;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}

.home_container .follow_item div h4 {
    height: fit-content;
    margin: 0;
}

.home_container .follow_item button {
    height: 30px;
    width: 100px;
    margin: auto;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.home_container .text {
    height: fit-content;
    flex: 3;
    /* flex-basis: 40%; */
    /* height: 400px; */
    /* flex: content; */
    padding: 0 15px;
    width: 90%;
    margin-top: 10px;
    font-size: 13px;
}


/* profile is here */


.profile_container {
    flex: 2;
    display: inline-flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.profile_container .right {
    flex-basis: 40%;
    margin: 0;
    padding: 0;
}

.profile_container .right .search {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: rgb(250, 250, 254);
    margin: 0;
    padding: 5px 0;


}

.profile_container .right .search .searchbar {
    width: 80%;
    height: 40px;
    background-color: rgb(225, 232, 238);
    margin: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;

}

.profile_container .right .search .searchbar img {
    flex-basis: 70px;
    height: 25px;
    align-items: center;
}

.profile_container .right .search .searchbar h3 {
    height: fit-content;
    flex-basis: content;

}

.profile_container .right .container {
    width: 80%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
}

.profile_container .trendings {
    height: fit-content;
    flex: 1;
    /* flex-basis: 40%; */
    /* height: 400px; */
    /* flex: content; */
    background-color: rgb(238, 241, 245);
    border-radius: 15px;
    padding: 0 15px;
    width: 90%;
}

.profile_container .trendings_heading {
    height: fit-content;
    margin: 5px 0;
    width: fit-content;
    font-weight: bold;
    /* margin-left: 20px; */
}

.profile_container .trend {
    height: fit-content;
    margin: 0;
    padding: 5px 0;

}

.profile_container .trend_region {
    height: fit-content;
    font-size: larger;
    margin: 5px 0;
    font-size: 13px;
}

.profile_container .trend_hashtag {
    height: fit-content;
    margin: 5px 10px;
    font-size: 18px;
    font-weight: bold;
}

.profile_container .trend_count {
    height: fit-content;
    margin: 2px 0;
    font-size: 13px;
}

.profile_container .seemore_text {
    height: fit-content;
    margin: 5px 0;
    color: blue;
    font-size: 15px;
}

.profile_container .follow {
    height: fit-content;
    flex: 2;
    /* flex-basis: 40%; */
    border-radius: 15px;
    padding: 0 15px;
    margin-top: 10px;
    /* width: 100%; */
    width: fit-content;
    background-color: rgb(238, 241, 245);

}

.profile_container .follow_heading {
    height: fit-content;
    margin: 15px 0;
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    /* margin-top: 10px; */

    /* margin-left: 20px; */
}

.profile_container .follow_item {
    height: fit-content;
    /* background-color: antiquewhite; */
    margin: 5px 0;
    padding: 5px 0;
    display: inline-flex;


}

.profile_container .follow_item img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: black;
}

.profile_container .follow_item div {
    height: fit-content;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.profile_container .follow_item div h3 {
    height: fit-content;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}

.profile_container .follow_item div h4 {
    height: fit-content;
    margin: 0;
}

.profile_container .follow_item button {
    height: 30px;
    width: 100px;
    margin: auto;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.profile_container .text {
    height: fit-content;
    flex: 3;
    /* flex-basis: 40%; */
    /* height: 400px; */
    /* flex: content; */
    padding: 0 15px;
    width: 90%;
    margin-top: 10px;
    font-size: 13px;
}

.profile_container .left {
    flex-basis: 60%;
    margin: 0;
    padding: 0;
    border-right: 1px solid rgb(224, 224, 224);
    overflow: hidden;
    position: relative;
}

.profile_container .left .header {
    background-color: rgba(250, 250, 254, 0.1);
    display: inline-flex;
    height: 50px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.profile_container .left .header div {
    flex-basis: 60%;
    margin: 0;
    padding: 0;
    margin: auto;
    height: fit-content;
    margin-left: 30px;

}

.profile_container .left .header div h3,
.profile_container .left .header div h5 {
    flex-basis: 60%;
    margin: 0;
    padding: 0;
    margin: auto;
    height: fit-content;
    margin-left: 30px;

}

.profile_container .left .header img {
    height: 25px;
    align-self: center;
    flex-basis: content;
    margin-left: 15px;
}

.profile_container .main {
    align-items: center;
    overflow-y: scroll;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);

}
.profile_container .cover-photo{
    width: 100%;
    height: 30%;
    background-color: antiquewhite;
}
.profile_container .cover-photo img{
    width: 100%;
    height: 100%;
    background-color: burlywood;
}
.profile_container .profile-picture{
    height: 60px;
    display: inline-flex;
}
.profile_container .profile-photo{
    height: 120px;
    width: 120px;

    border-radius: 100px;
    margin-left: 30px;
    margin-top: -60px;
}
.profile_container .profile-photo img{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    border: 5px solid rgb(238, 237, 237);
    border-radius: 100px ;
}
.profile_container .edit-profile{
    height: 30px;
    width: fit-content;

    margin-left: auto;
    margin-right: 30px;
    align-self: center;
    padding: 7px 12px;
    border-radius: 100px;
    background:none;
    font-weight: bold;
    border: solid 1px rgb(167, 166, 166);
}

.profile_container .profile-infos{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    margin: 20px 0;

}
.profile_container .name-info{
    height: fit-content;
    margin: 0;
    padding: 0;
    margin: 0 30px;
    
}
.profile_container .name-info h3{
    height: fit-content;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

.profile_container .name-info h5{
    height: fit-content;
    margin: 0;
    padding: 0;
    font-size: 15px;


}
.profile_container .work-info{
    margin: 10px 30px ;
    font-size: 15px;
    height: fit-content;

}
.profile_container .date-info{
    height: fit-content;
    display: inline-flex;
    margin: 0 30px;
}
.profile_container .date-info img{
    height: 30px;
    width: auto;
}
.profile_container .date-info p{
    margin-left: 10px;
    height: fit-content;
    align-self: center;
    font-size: 15px;
}
.profile_container .follower-info{
    margin: 0 30px;
    font-size: 15px;
    display: inline-flex;
    height: fit-content;
}
.profile_container .follower-info p{
    height: fit-content;
    margin:  0 5px;
}

.profile_container .tweet-menu{
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}
.profile_container .tweets {
    align-items: center;
    /* overflow-x: hidden; */
    align-content: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    width: 100%;
}

.profile_container .post {
    border-top: 1px solid rgb(230, 227, 227);
    height: fit-content;
    display: inline-flex;

}

.profile_container .profile {
    /* margin-top: 50px; */
    /* background-color: black; */
    margin: 10px 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(117, 110, 102);
}

.profile_container .post_inside {
    height: fit-content;
}

.profile_container .post_inside div {
    /* height: fit-content; */
    display: inline-flex;
    margin-top: 10px;
    font-size: 13px;
    height: fit-content;
}

.profile_container .display_name {
    height: fit-content;
    width: fit-content;
    margin: 0;
    font-weight: bold;
    margin-right: 10px;
    flex-basis: content;
}

.profile_container .display_id {
    height: fit-content;
    width: fit-content;
    margin: 0;
    margin-right: 10px;
    flex-basis: content;

}

.profile_container .time {
    height: fit-content;
    width: fit-content;
    margin: 0;
    flex-basis: content;
}

.profile_container .threedots {
    /* height: fit-content;
    width: 30px;
    align-self: flex-end;
    background-color: aquamarine;
    flex-basis: auto;
    flex-basis: auto; */
    height: 25px;
    align-self: center;
    flex-basis: content;
    margin-right: 10px;
    margin-left: auto;


}

.profile_container .post p {
    font-size: 15px;
    color: black;
    height: fit-content;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 97%;
}

.profile_container .post .postimg {
    height: fit-content;
    width: 70%;
    border: 1px solid gray;
    border-radius: 20px;
    align-self: center;
}

/* .home_container .post_share::before{
    width: 100%;
} */
.profile_container .post_share {
    display: inline-flex;
    margin: 0;
    /* margin-left: 20% ; */
    /* background-color: aqua; */
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.profile_container .post_share div {
    display: inline-flex;
    height: fit-content;
    margin-left: 70px;
}

.profile_container .post_share img {
    height: 15px;
    margin: 0;
    width: fit-content;
    margin-right: 10px;

}

.profile_container .post_share div p {
    font-size: 13px;
    height: fit-content;
    margin: auto;
    margin: 0;
    margin-right: 0;
}

.profile_container .tweet-header{
    height: 50px;
    display: inline-flex;
    justify-content: space-around;
    /* margin: 0 30px;
    align-content: space-between;
    align-content: space-around; */
}
.profile_container .tweet-header p{
    flex-basis: auto;
    align-items: flex-end;
    width: fit-content;
    height: fit-content;
    justify-content: space-around;
    /* flex-flow: row; */
}
.profile_container .tweet-header p:first-child{
    border-bottom: 4px solid blue;
    padding-bottom: 10px;
}

/* exploe is here */

.explore_container {
    flex: 2;
    display: inline-flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.explore_container .right {
    flex-basis: 40%;
    margin: 0;
    padding: 0;
}

.explore_container .right .search {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: rgb(250, 250, 254);
    margin: 0;
    padding: 5px 0;


}

.explore_container .right .search .searchbar {
    width: 80%;
    height: 40px;
    background-color: rgb(225, 232, 238);
    margin: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;

}

.explore_container .right .search .searchbar img {
    flex-basis: 70px;
    height: 25px;
    align-items: center;
}

.explore_container .right .search .searchbar h3 {
    height: fit-content;
    flex-basis: content;

}

.explore_container .right .container {
    width: 80%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
}

.explore_container .trendings {
    height: fit-content;
    flex: 1;
    /* flex-basis: 40%; */
    /* height: 400px; */
    /* flex: content; */
    background-color: rgb(238, 241, 245);
    border-radius: 15px;
    padding: 0 15px;
    width: 90%;
}

.explore_container .trendings_heading {
    height: fit-content;
    margin: 5px 0;
    width: fit-content;
    font-weight: bold;
    /* margin-left: 20px; */
}

.explore_container .trend {
    height: fit-content;
    margin: 0;
    padding: 5px 0;

}

.explore_container .trend_region {
    height: fit-content;
    font-size: larger;
    margin: 5px 0;
    font-size: 13px;
}

.explore_container .trend_hashtag {
    height: fit-content;
    margin: 5px 10px;
    font-size: 18px;
    font-weight: bold;
}

.explore_container .trend_count {
    height: fit-content;
    margin: 2px 0;
    font-size: 13px;
}

.explore_container .seemore_text {
    height: fit-content;
    margin: 5px 0;
    color: blue;
    font-size: 15px;
}

.explore_container .follow {
    height: fit-content;
    flex: 2;
    /* flex-basis: 40%; */
    border-radius: 15px;
    padding: 0 15px;
    margin-top: 10px;
    /* width: 100%; */
    width: fit-content;
    background-color: rgb(238, 241, 245);

}

.explore_container .follow_heading {
    height: fit-content;
    margin: 15px 0;
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    /* margin-top: 10px; */

    /* margin-left: 20px; */
}

.explore_container .follow_item {
    height: fit-content;
    /* background-color: antiquewhite; */
    margin: 5px 0;
    padding: 5px 0;
    display: inline-flex;


}

.explore_container .follow_item img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: black;
}

.explore_container .follow_item div {
    height: fit-content;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.explore_container .follow_item div h3 {
    height: fit-content;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}

.explore_container .follow_item div h4 {
    height: fit-content;
    margin: 0;
}

.explore_container .follow_item button {
    height: 30px;
    width: 100px;
    margin: auto;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.explore_container .text {
    height: fit-content;
    flex: 3;
    /* flex-basis: 40%; */
    /* height: 400px; */
    /* flex: content; */
    padding: 0 15px;
    width: 90%;
    margin-top: 10px;
    font-size: 13px;
}
.explore_container .left {
    flex-basis: 60%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    height: fit-content;
    border-right: 1px solid rgb(224, 224, 224);

}
.explore_container .left .header {
    background-color: rgba(250, 250, 254, 0.1);
    display: inline-flex;
    height: 50px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    align-items: center;
}

.explore_container .header img {
    margin-left: 20px;
    margin-right: 20px;

}
.explore_container .left .header div {
    flex-basis: 75%;
    margin: 0;
    padding: 0;
    margin: auto;
    height: 35px;
    margin-left: 30px;
    background-color: rgb(239, 239, 240);
    display: inline-flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}
.explore_container .header div h3{
    height: fit-content;
    margin: 0 15px;
}

.explore_container .left div img{
    width: 30px;
    height: auto;
    margin: 0  10px;
}
.explore_container .main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.explore_container .main .menu{
    display: inline-flex;
    height: 50px;
    justify-content:space-around;
    border-bottom: 1px solid rgb(224, 224, 224);
    
}

.explore_container .menu p{
    justify-content:space-around;
    height: fit-content;
    width: fit-content;
}


.explore_container .menu p:first-child{
    border-bottom: 5px solid rgb(68, 68, 255);    
    padding-bottom: 10px;    
}


.explore_container .main .follow {
    height: fit-content;
    flex: 2;
    /* flex-basis: 40%; */
    padding: 0 15px;
    margin-top: 10px;
    /* width: 100%; */
    width: fit-content;
    background:none;
}

.explore_container .main .follow_heading {
    height: fit-content;
    margin: 15px 0;
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
        /* margin-top: 10px; */

        /* margin-left: 20px; */
}

.explore_container .main .follow_item {
    height: fit-content;
    /* background-color: antiquewhite; */
    margin: 5px 0;
    padding: 5px 0;
    display: inline-flex;


}

.explore_container .main .follow_item img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: black;
}

.explore_container .main .follow_item div {
    height: fit-content;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.explore_container .main .follow_item div h3 {
    height: fit-content;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}

.explore_container .main .follow_item div h4 {
    height: fit-content;
    margin: 0;
}

.explore_container .main  .follow_item button {
    height: 30px;
    width: 100px;
    margin: auto;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.explore_container .main  .follow div p {
    margin: 0;
    width: fit-content;
    height: fit-content;
    margin-left: 73px;
    
}

.explore_container .main  .follow div {
    /* width: fit-content; */
    height: fit-content;
    /* background-color: antiquewhite; */
}





/* message container */

.message_container{
    flex: 2;
    display: inline-flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.message_container .left{
    flex-basis: 40%;
    border-right: 1px solid rgb(211, 210, 210);
}
.message_container .header{
    display: inline-flex;
    height: 50px;
    align-items: center;
}
.message_container .header h3{
    height: fit-content;
    /* width: auto; */
    margin-left: 20px;
}
.message_container .header div{
    margin-left: auto;
    margin-right: 10px;
    display: inline-flex;
    height: fit-content;
    width: fit-content;
}
.message_container .header div img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.message_container .msg_searchbox{
    width: 100%;
    height: 60px;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.message_container .msg_searchbox div{
    width: 90%;
    border: 1px solid rgb(211, 210, 210);
    display: inline-flex;

    height: 40px;
    border-radius: 40px;
    justify-content: center;
}
.message_container .msg_searchbox div img{
    height: 28px;
    width: fit-content;
    align-self: center;
}
.message_container .msg_searchbox div h4{
    height:fit-content;
    width: fit-content;
    align-self: center;
    margin-left: 10px;
}
.message_container .contact_container{
    display: flex;
    flex-direction: column;
    height: 84%;
    /* margin: 5px 0; */
    /* overflow-y: scroll; */
}
.message_container .contact_item{
    padding: 10px 20px;
    display: inline-flex;
    width: auto;
    /* margin: 10px 20px ; */
    height: fit-content;
    flex-basis: auto;

}
.message_container .contact_item h4{
    height: fit-content; 
    width: fit-content;
    margin: 0;
}
.message_container .contact_item img{
    height: 50px; 
    width: 50px;
    border-radius: 50px;
    margin-right: 15px;
}
.message_container .infos{
    width: fit-content;
    height: fit-content;
    align-self: center;
}
.message_container .infos span{
    font-weight: bold;
}
.message_container .name_info{
    display: inline-flex;
    height: fit-content;
    margin-bottom: 5px;
}

.message_container .name_info h4{
    margin-right: 5px;
}

.message_container .right{
    flex-basis: 60%;
}
.message_container .right .person{
    display: flex ;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    padding: 80px;
    width: auto;
    height: fit-content;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.message_container .right .person img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.message_container .person h4{
    height: fit-content;
    width: fit-content;
    margin: 0;
}
.message_container .person h4 span{
    font-weight: bold;
}
.message_container .person p{
    height: fit-content;
    width: fit-content;
    justify-self: center;
    
}
.message_container .person div{
    display: inline-flex;
    width: fit-content;
    height: fit-content;
}
.message_container .person div h5{
    width: fit-content;
    height: fit-content;
    margin: 0 15px;
}
.message_container .messagebox {
    height: fit-content;
    /* width: fit-content; */
}
.message_container .messagebox .personsms{
    height: fit-content;
    width: fit-content;
    margin: 20px;
    max-width: 90%;
}
.message_container .messagebox .mysms{
    height: fit-content;
    width: fit-content;
    margin: 20px;
    margin-right: 20px;
    margin-left: auto;
    max-width: 90%;
}
.message_container .messagebox p{
    height: fit-content;
    width: fit-content;
    margin: 0;
}
.message_container .personsms .text{
    background-color: rgb(211, 228, 247);
    padding: 10px 15px;
    border-radius: 20px 20px 20px 0;
}
.message_container .personsms .timestamp{
    margin-top: 5px;
    margin-right: auto;
    margin-left: 0;
    font-size: small;
}
.message_container .mysms .text{
    background-color: rgb(2, 101, 248);
    padding: 10px 15px;
    border-radius: 20px 20px 0 20px;
    color: white;
}
.message_container .mysms .timestamp{
    margin-top: 5px;
    margin-right: 0;
    margin-left: auto;
    font-size: small;
}